body {
    color:rgba(8, 9, 119, 0.904);
    font-size: 110%;
    margin: 15px;
}

.back-pic {
    background-image: url("/src/assets/images/mountain.jpg");
    background-size: cover;
    background-position: center;
}

.ed {
    text-align: center;
    margin: 20px;
    max-width: 400px;
}

.banner {
    margin-top: 50px;
}

.name {
    margin-top: 200px;
    text-align: center;
    background-color: rgb(179, 169, 169);
}

.welcome {
    margin: 50px;
    text-align: center;
}

.nav {
    margin: 15px;
    color:rgba(8, 9, 119, 0.904);
    font-size: 110%;
}

.active {
    color: #e0e3ee !important;
    background-color:rgba(6, 116, 241, 0.904) !important;
  }


.nav-fill {
    background-color: rgb(225, 236, 188);
}

.contactArea {
    margin: 30px;
}

.greeting {
    font-size: 125%;
}

.form {
    border:1px solid black;
}

.message {
    border:2px solid black;
}

.project {
    margin: 20px;
}

.card {
    
}

.projectImage {

}

.resumeParent {
    text-align: center;
}

.resume {
    margin-top: 15px;
    font-size: 125%;
}

.skills {
    margin-top: 15px;
    font-size: 110%
}

ul {
    list-style-type: none;
    
}

footer {
    margin: 50px 0px;
}

.footIcons {
    color:rgba(6, 116, 241, 0.904)
}